@import 'variables';
@import 'utilities/breakpoints';
@import 'utilities/border';
@import 'global';
@import 'cards';
@import 'components/buttons';

/* ------------------------------------------------
TABLE OF CONTENTS
-----------------

1. Header
2. navbar
3. Main Form
4. Charts
5. Footer

-------------------------------------------------- */


@media (min-width: 768px) and (max-width: 1200px) {
.container {
    max-width: 800px;
}
}

/*-----------------------------------
 * Header
 *-----------------------------------*/

header {
    position: relative;
}

.gradient-mask {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: -webkit-gradient(linear, left top, right top, from($primary), to($secondary));
}

.jumbotron {
    width: 100%;
    background-color: transparent;
    margin-bottom: 0;
    @include media-breakpoint-up(sm) {
        padding: 2rem 0;
        &.sub-page {
            padding: 0 0 2rem 0;
        }
    }
    &.sub-page {
        min-height: 290px;
        background: #f8faff;
    }
    .lead {
        max-width: 600px;
        margin: auto;
    }
    .btn-lg {
        padding: 17px 35px;
    }
    .btn {
        margin: 10px;
    }
}

.jumbotron-two {
    padding: 2rem 0;
    .lead {
        max-width: 500px;
        margin: 0;
    }
}

.overflow-hidden {
    overflow-x: hidden;
}

.hero-copy .container {
    max-width: 40rem;
}

[class^="display"] {
    font-family: $heading-font;
    font-weight: 700;
}

@include media-breakpoint-down(md) {
    .display-3 {
        font-size: 4rem;
    }
    .display-5 {
        font-size: 1.4rem;
    }
}

@include media-breakpoint-down(sm) {
    .display-3 {
        font-size: 2.2rem;
    }
    .display-4 {
        font-size: 2.5rem;
    }
}

.section {
    position: relative;
    &.bg-overlay:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.4);
    }
    &.bg-gradient:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: linear-gradient(to right, rgba(106, 17, 203, 0.76) 0%, rgba(37, 117, 252, 0.77) 100%);
    }
}


/*-----------------------------------
 * NAVBAR
 *-----------------------------------*/

.navbar {
    transition: all 0.3s ease;
    padding: 1rem;
    .btn {
        box-shadow: none;
    }
    &.bg-light {
        padding: 0.4rem;
        background: #FFF!important;
        box-shadow: 0px 9px 68px 0px rgba(62, 57, 107, 0.1)
    }
    .nav-link:hover {
        color: $primary !important;
    }
}

.navbar-toggler {
    margin-top: 5px;
}

.navbar-border {
    border-bottom: 1px solid rgba( $white, .2);
}

.navbar-transparent {
    background: transparent;
    transition: all 0.3s ease;
}

.nav-link {
    padding: .3em 1em;
    .pe-7s-angle-down {
        margin: -13px -13px -13px -8px;
        position: relative;
        top: 8px;
    }
}

@include media-breakpoint-down(sm) {
    .navbar-toggleable-md>.container {
        width: 100%;
    }
    .nav-link {
        padding: .3em 0.6em;
    }
}

@include media-breakpoint-down(md) {
    body:not(.sticky) .navbar:not(.navbar-light).menu-is-open {
        background: rgba($black, 0.7);
    }
    .navbar-nav {
        margin-bottom: 1em;
    }
    .navbar-toggleable-md .navbar-nav .dropdown-menu {
        text-align: center;
    }
}

@include media-breakpoint-up(lg) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

.navbar-nav .nav-link {
    font-size: 18px;
    text-align: center;
    position: relative;
    .navbar-inverse & {
        color: rgba($white, 0.8);
        text-transform: uppercase;
        font-size: 14px;
    }
    @include media-breakpoint-up(lg) {
        &:before {
            content: "";
            height: 1px;
            position: absolute;
            bottom: 5px;
            left: 50%;
            right: 50%;
            border-bottom: 1px solid $primary;
            margin-right: auto;
            margin-left: auto;
            transition: all 0.5s ease;
        }
    }
}

.navbar-inverse .navbar-nav .nav-link.active {
    color: $primary;
    @include media-breakpoint-up(lg) {
        &:after {
            content: "";
            height: 1px;
            position: absolute;
            bottom: 5px;
            left: 0;
            right: 0;
            border-bottom: 1px solid $primary;
            margin-right: 0.95rem;
            margin-left: 0.95rem;
        }
    }
}

@include media-breakpoint-up(lg) {
    .navbar-toggleable-md .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

@include media-breakpoint-up(sm) {
    .navbar-mobile {
        display: none;
    }
}


/*Dropdown*/

.dropdown-menu {
    border-radius: 0;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.05);
}

.dropdown-item {
    padding: 5px 2rem 5px 1.2rem;
}

.dropdown-item.active,
.dropdown-item:active {
    color: $black;
    background-color: $gray-lightest;
}

/*-----------------------------------
 * Main Form
 *-----------------------------------*/

 @include media-breakpoint-up(md) {
    .main-form {
        padding-top: 1em;   
    }
 }

@include media-breakpoint-down(xs) {
    .main-form {
        margin-top: 1em;
    }
}

@include media-breakpoint-down(md) {
    .submit-margin {
        margin-top: 10px !important;
    }
}

/* Adjust first column widths */
#head-matter tr td:first-child, #grades tr td:first-child {
    width: 6em;
    min-width: 6em;
    max-width: 7em;
    word-break: break-all;
}

@media (min-width: 990px) {
.round-body {
    padding: 36px 50px;
    border-radius: 25px;
    -webkit-box-shadow: 0 0 17px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 17px rgba(0, 0, 0, 0.2);
    }
}

@media (max-width: 990px) {
    .round-body-container {
        background-color: #FFF
    }
}

/*-----------------------------------
 * FORM
 *-----------------------------------*/

.form-control {
    border-radius: 30px;
    padding: 5px 20px;
    min-height: 40px;
    // border-color: #ebebed;
    // box-shadow: 0 0 5px rgba(38, 38, 76, 0.05);
}

.form-control.selectize-control .selectize-input {
    border-radius: 30px;
    padding: 5px 20px;
    min-height: 40px;
    // border-color: #ebebed;
    // box-shadow: 0 0 5px rgba(38, 38, 76, 0.05);
}
  
.form-control .selectize-control .selectize-input.dropdown-active {
    border-radius: 30px;
}
  

.btn-block {
    padding: 15px 0;
}

/*-----------------------------------
 * Course Profile
 *-----------------------------------*/

.card-body {
    padding: 0.5rem;
}

@include media-breakpoint-up(sm) {
    .cp-card {
        padding: 1rem;
    }
}


/*-----------------------------------
 * FOOTER
 *-----------------------------------*/

.footer-links {
    li {
        padding: 0.2em 0;
    }
    a {
        color: $gray-light;
        &:hover {
            text-decoration: none;
            color: $primary;
        }
    }
}